@{
    ViewData["Title"] = "Política de Privacidade";
}

<div style="text-align: left; margin: 20px;">
    <h1 class="display-4 text-primary">🔒 Política de Privacidade</h1>

    <p class="lead mt-4">Para nós, da Fazenda Urbana, a confidencialidade das informações de nossos usuários é de extrema importância. Utilizamos tecnologias de criptografia para proteger dados pessoais e financeiros contra acessos não autorizados e garantir a segurança dos usuários e de todas as transações.</p>

    <h2 class="mt-5 text-success">Coleta e Uso de Informações</h2>
    <p>Somente os dados necessários para o funcionamento do aplicativo são coletados, como detalhes de contato, interesses legítimos e outras preferências de uso. Esses dados são coletados para facilitar o registro e a compra e venda de bens, bem como a melhoria dos serviços. A Fazenda Urbana não fornece informações relacionadas a indivíduos a terceiros, exceto na medida do necessário para cumprir obrigações legais.</p>

    <h2 class="mt-5 text-success">Conformidade com a LGPD</h2>
    <p>Estamos comprometidos com a <strong>Lei Geral de Proteção de Dados Brasileira (LGPD)</strong> e observamos suas disposições fielmente. Nosso compromisso abrange:</p>

    <p><strong>🔍 Transparência:</strong> É claro para o público os tipos de dados coletados, como serão utilizados e quem são os possíveis destinatários dos dados.</p>
    <p><strong>✅ Consentimento dos Usuários:</strong> O consentimento dos usuários é solicitado e há uma opção para que os usuários o retirem, caso desejem fazê-lo.</p>
    <p><strong>📄 Direitos dos Usuários:</strong> Garantimos o direito de acessar, corrigir, excluir e transferir dados pessoais. Nossos canais de suporte estão disponíveis para isso.</p>

    <h2 class="mt-5 text-success">Armazenamento e Retenção de Dados</h2>
    <p>Todos os dados são armazenados em servidores seguros e são retidos pelo tempo necessário para sua finalidade ou conforme determinado pela lei. Caso não sejam mais necessários, é garantido que os dados sejam descartados de forma segura.</p>

    <h3 class="mt-4 text-info">Entre em Contato Conosco</h3>
    <p>Para dúvidas ou para exercer seus direitos estipulados na LGPD, entre em contato conosco por e-mail em <strong>privacidade@fazendaurbana.com</strong>. Estamos à sua disposição para responder a quaisquer perguntas que você possa ter sobre a segurança e privacidade das suas informações.</p>
</div>
